<div class="container col-md-6 offset-md-3 mt-5">
  <mat-card id="card" style="text-align: center;">
    <mat-card-title>
      <h1>Log In</h1>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row form-group" style="padding-top: 10px;">
          <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
            <mat-label>UserName</mat-label>
            <input matInput formControlName="userName" placeholder="Enter UserName" required>
          </mat-form-field>
          <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
            <div *ngIf="f.userName.errors.required">Username is required</div>
          </div>
          <div *ngIf="submitted && f.userName.errors" class="alert alert-danger">
            <mat-error *ngIf="f.userName.errors.required">User Name is required</mat-error>
          </div>
        </div>
        <div class="row form-group">
          <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Enter Password" required/>
          </mat-form-field>
          <div *ngIf="submitted && f.password.errors" class="alert alert-danger">
            <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
          </div>
        </div>
        <button [disabled]="loading" mat-raised-button color="primary" type="submit">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<!--
  <div class="alert alert-info">

  </div>
  <div class="card" style="text-align: center;">
    <div class="card-body">

    </div>
  </div>
</div>-->
