<div class="container">
  <mat-card id="card" style="text-align: center;">
    <mat-card-title>
      <h1>Provider Search</h1>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="providerForm" (ngSubmit)="search()">
        <div class="row form-group" style="padding-left: 150px;padding-top: 10px;">
          <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
            <mat-label>Provider TaxId</mat-label>
            <input matInput formControlName="providerTaxId" placeholder="Enter ProviderTaxId" required>
          </mat-form-field>
          <div *ngIf="f.providerTaxId.touched && f.providerTaxId.invalid" class="alert alert-danger">
            <mat-error *ngIf="f.providerTaxId.errors.required">Provider TaxId is required</mat-error>
          </div>
          <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" placeholder="Enter FirstName">
          </mat-form-field>
          <div *ngIf="f.firstName.touched && f.firstName.invalid" class="alert alert-danger">
            <mat-error *ngIf="f.firstName.errors.required">First Name is required</mat-error>
          </div>
          <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" placeholder="Enter LastName">
          </mat-form-field>
          <div *ngIf="f.lastName.touched && f.lastName.invalid" class="alert alert-danger">
            <mat-error *ngIf="f.lastName.errors.required">Last Name is required</mat-error>
          </div>
          <button mat-raised-button color="primary" type="submit">
            Search
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <table mat-table [dataSource]="providers">
    <ng-container matColumnDef="CHClaimId">
      <th mat-header-cell *matHeaderCellDef> CHClaimID </th>
      <td mat-cell *matCellDef="let element"> {{element.CHClaimId}} </td>
    </ng-container>
    <ng-container matColumnDef="PatientCtrlNbr">
      <th mat-header-cell *matHeaderCellDef> Patient Control Num </th>
      <td mat-cell *matCellDef="let element"> {{element.PatientCtrlNbr}} </td>
    </ng-container>
    <ng-container matColumnDef="RePriceClaimNum">
      <th mat-header-cell *matHeaderCellDef> RePriceClaimNum </th>
      <td mat-cell *matCellDef="let element"> {{element.RePriceClaimNum}} </td>
    </ng-container>
    <ng-container matColumnDef="ClaimType">
      <th mat-header-cell *matHeaderCellDef> ClaimType </th>
      <td mat-cell *matCellDef="let element"> {{element.ClaimType}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!--<tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>-->

  </table>

</div>
