.container .mat-form-field + .mat-form-field {
  margin-left: 10px;
}
button.mat-raised-button {
  font-size: 20px;
  height: 42px;
  margin: 10px;
}
table {
  width: 100%;
}
.card{
  margin-bottom: 30px;
}

